
#last {
    margin-bottom: 2em;
}


.carte {
    padding: 5px;
    margin: 5px;
    width:30%;
    height: 300px;
}

h4 {
	color: #F0F4F5;
    font-size: large;
	text-align: center;
	font-family: 'arial-bold', Verdana, sans-serif;
}


h5 {
	color: #798082;
	font-size: large;
    text-align: center;
	font-family: impact, Verdana, sans-serif;
}


p {
	font-family: arial, impact, Verdana, sans-serif;
    font-size: normal;
}

.img-responsive{
    float: center;
    display: block;
    max-width: 100%;
    height: auto;
}

.duree { 
    float: right; 
    text-align: right; 
}

.personne {
    float: left; 

}


.flip {
  -webkit-perspective: auto;
    position: relative;
    margin: 50px auto;
}
.flip .carte.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .carte {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .carte .cote {
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: small;
    text-align: center;
    line-height: 200px;
}
.flip .carte .recto {
  position: absolute;
  z-index: 1;
    line-height: inherit;
    text-align: center;
    font-size: small;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .carte .verso {
  -webkit-transform: rotatey(-180deg);
    line-height: inherit;
    text-align: left;
    font-size: small;
    background: white;
    color: black;
    cursor: pointer;
}




